.base {
  background: white;
  color: black !important;
  margin-bottom: 1em;
  padding: 1em;
}

.nav-link {
  color: black;
  float: right !important;
}

.imaginary-line {
  margin: 0% !important;
  max-height: 0vh;
  width: 100% !important;
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 2em;
  padding-bottom: 0% !important;
  margin-top: 50px !important;
  min-height: 20vh;
  width: 100% !important;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  text-align: center;
}

.footer-flex-container {
  margin: 0% !important;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.footer-flex-item {
  flex: 20% !important;
  width: 20%;
  text-align: center;
}

@media (max-width: 800px) {
  .footer-flex-item {
    flex: 100% !important;
  }
}

.payment-flex-container {
  margin: 0% !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

