.content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 5px;
  border: 0px solid #aaa;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.full-size-form-container {
  padding: 50px 25px;
  margin: auto;
  max-width: 800px;
}

.full-size-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.full-size-form input {
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.full-size-form button {
  margin: 15px 0px;
}

/* Common format for all buttons */
button {
  position: relative;
  padding: 5px;
  border-radius: 5px;
  border-width: 0px;
}

/* Separate text from background for hover effect */
button span {
  color: #fff;
  position: relative;
  z-index: 1;
}

/* Add transparent overlay */
button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 0;
}

/* Darken overlay on hover */
button:hover::after {
  background-color: rgba(0, 0, 0, .2);
}

.blue {
  background-color: #007bff;
  /* Blue */
}

.red {
  background-color: #f44336;
  /* Red */
}

.green {
  background-color: #34A853;
  /* Green */
}

.box-area {
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 5vh;
  background-color: #fff;
  border-radius: 5px;
  border: 0px solid #aaa;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.card {
  display: flex;
  flex-direction: vertical;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: 5vh;
  background-color: #fff;
  border-radius: 10px;
  border: 0px solid #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.card .card-heading {
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  background: #009FBB;
  color: #fff;
  width: 100%;
}

.card .card-heading h5 {
  font-size: clamp(12px, 4vw, 24px);
  align-self: center;
  padding: 20px;
  margin: 0;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin: 0;
}

.card .card-body ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  text-align: left;
}

table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: lightgray;
}

ul {
  padding-left: 5%;
  padding-right: 5%;
}

ol {
  display: inline-block;
}

li {
  text-align: left;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

label[for="consentCheckBox"] {
  display: inline;
  color: grey;
}

.status-message {
  color: #fff;
  margin: 25px 0px;
  padding: 10px;
  overflow: auto;
  border-radius: 10px;
}

@media screen and (min-width: 600px) {
  .status-message {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .status-message {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .status-message {
    font-size: 0.7rem;
  }
}