.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 200;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .modal h3 {
    font-size: 1.5rem;
    min-font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 400px) {
  .modal h3 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 600px) { /* desktop */
  #statusMessage {
      margin-top: 2.5rem; /* adjust to desired height */
      overflow: auto;
      font-size: 1rem;
  }
}

@media screen and (max-width: 800px) { /* tablet */
  #statusMessage {
      margin-top: 2.5rem; /* adjust to desired height */
      overflow: auto;
      font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) { /* mobile */
  #statusMessage {
      margin-top: 2.5rem; /* adjust to desired height */
      overflow: auto;
      font-size: 0.7rem;
  }
}

.auth-container {
  margin: auto;
  padding: 10%;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container label {
  margin-bottom: 10px;
}

.auth-container input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
  z-index: 100; /* set a high z-index to ensure that the overlay appears on top of other elements */
}

