* {
  box-sizing: border-box;
}

.main {
  width: 70%;
  float: left;
}

.list {
  width: 28%;
  float: right;
  margin-left: 2%;
}

.grid {

}

.container {
  width: 90%;
}

.billboard {
  padding: 1% !important;
  padding-top: 2% !important;
}

.box-area {
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 5%;
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  border-radius: 10px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
  text-align: center;
}

.third-width {
  box-sizing: border-box;
  width: 25%;
}

.edit-info {
  width: 50%;
}

.button {
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  border-width: 0px;
  color: black;
  padding: 1%;
  margin-top: 10%;
  text-align: center;
  display: inline-block;
  transition-duration: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.navbar-toggler{
  background-color: black;
  color: white;
  border-color: white;
  border-width: 2px;
  text-color: white;
}

.button:hover {
  background-color: black;
  color: white;
}

.form-style {
  margin: auto;
  margin-top: 1%;
}

input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-color: white;
  border-width: 2px;
  width: 100%;
}

table {
  width: 100%;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h3 {
  font-family: Sans-serif;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

ol {
  display: inline-block;
}

li {
  text-align: center;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.info {
  padding: 20px;
  background-color: #0066ff; /* blue */
  color: white;
  margin-bottom: 15px;
}

.subreddits {
  width: 50&;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: black;
  background: #ffc10700;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
  background-image: linear-gradient(#ffc107, orange);
}

.steps {
  width: 50&;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  background: green;
  border-style: solid;
  border-color: green;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.info-link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

body {
  background-image: white;
}