* {
  box-sizing: border-box;
}

.main {
  width: 70%;
  float: left;
}
@media (max-width: 900px) {
 .sidebar {
   width: 28%;
   float: right;
   margin-left: 2%;
 }
}

@media (min-width: 900px) {
 .sidebar {
   width: 29%;
   float: right;
   margin-left: .5em;
 }
}

@media (max-width: 900px) {
 .leftside {
  width: 100%;
  float: left;
  margin-right: 0.5%;
 }
}

@media (min-width: 900px) {
 .leftside {
  width: 49.5%;
  float: left;
  margin-right: 0.5%;
 }
}

.rightside {
  width: 49.5%;
  float: right;
  margin-left: 0.5%;
}

.container {
  width: 100% !important;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
}

@media (max-width: 800px) {
  .flex-item {
    flex: 10% !important;
  }
}

.flex-item {
  flex-grow: 1;
}

.box-margin {
  margin: 1%;
  flex: 10%;
}

.banner {
  margin-top: 0%;
  padding: 5% !important;
}

.slim {
  padding: 1% !important;
  padding-top: .5em !important;
  padding-bottom: 0% !important;
  line-height: 80%;
  margin: .2em;
  margin-top: 0%;
  flex: 20%;
}

.sponsor {
  color: white !important;
  backdrop-filter: blur(25px);
  /* filter: blur(5px); */
  background: #ff1d58 !important;
  border-width: 2px !important;
  box-shadow: 0 2px 4px 0 black !important;
  border-color: white !important;
}

.sponsor2 {
  color: white !important;
  backdrop-filter: blur(25px);
  /* filter: blur(5px); */
  background: #fbaf08 !important;
  border-width: 2px !important;
  box-shadow: 0 2px 4px 0 black !important;
  border-color: #fbaf08 !important;
}

.sponsor3 {
  color: black !important;
  backdrop-filter: blur(25px);
  /* filter: blur(5px); */
  background: #fbaf08 !important;
  border-width: 2px !important;
  box-shadow: 0 2px 4px 0 black !important;
  border-color: #fbaf08 !important;
}

.sponsor4 {
  color: #ff1d58 !important;
  backdrop-filter: blur(25px);
  /* filter: blur(5px); */
  background: #51d0de !important;
  border-width: 2px !important;
  box-shadow: 0 2px 4px 0 black !important;
  border-color: white !important;
}

.sponsor5 {
  color: white !important;
  backdrop-filter: blur(25px);
  /* filter: blur(5px); */
  background-image: linear-gradient(90deg, #51d0de, #bf4aa8) !important;
  border-width: 0px !important;
  box-shadow: 0 2px 4px 0 black !important;
  border-color: white !important;
}

.sponsor6 {
  color: #ff1d58 !important;
  backdrop-filter: blur(25px);
  /* filter: blur(5px); */
  background: white !important;
  border-width: 5px !important;
  box-shadow: 0 2px 4px 0 black !important;
  border-image: url("colorful-clouds.jpg") 30 stretch !important;
}

.inner-container {
  width: 90% !important;
  margin-left: 5%;
  position: center;
}

.billboard {
  padding: 1% !important;
  padding-top: 2% !important;
  margin-top: 2%;
}

.box-area {
  color: black;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: .5em;
  padding: 5%;
  background-color: #FFFEF2;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.base {
  color: black;
  margin-top: 2%;
  padding: 0%;
}

.sticky {
  width: 100%;
  vertical-align: middle;
  position: fixed;
  top: 0;
}

.center {
  text-align: center;
}

.third-width {
  box-sizing: border-box;
  width: 25%;
}

.edit-info {
  width: 50%;
}

.button {
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  border-width: 0px;
  color: black;
  padding: 1%;
  margin-top: 5%;
  text-align: center;
  display: inline-block;
  transition-duration: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-toggler{
  background-color: black;
  color: white;
  border-color: white;
  border-width: 2px;
  text-color: white;
}

.button:hover {
  background-color: black;
  color: white;
}

.form-style {
  margin: auto;
  margin-top: 1%;
}

@media (min-width: 900px) {
 .mini-form {
   width: 50%;
   display: flex;
   margin: auto;
 }
}

input {
  margin-top: 10px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px;
  width: 100%;
}

.word-wrap {
  word-wrap: break-word;
}

label {
  margin-top: 0%;
}

table {
  width: 100%;
}


h3 {
  margin-top: 10px !important;
  font-family: Sans-serif;
}

h5 {
  font-family: Sans-serif;
  margin-bottom: 0% !important;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

ul {
  padding-left: 5%;
  padding-right: 5%;
}

ol {
  display: inline-block;
}

li {
  text-align: left;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 0.5em;
  border-radius: 10px;
}

.info {
  padding: 20px;
  background-color: #007bff; /* blue */
  color: white;
  margin-bottom: 15px;
  border-radius: 10px;
}

.info-link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.nav-link {
  color: black;

}

.subreddits {
  width: 50&;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: black;
  background: #ffc10700;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
  background-image: linear-gradient(#ffc107, orange);
}

.steps {
  width: 50&;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  background: green;
  border-style: solid;
  border-color: green;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

body {
  text-align: center;
  margin-top: 2% !important;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: url("gray-hex.jpg");
  background-size: cover;
}

html {
}