* {
  box-sizing: border-box;
}

.main {
  width: 70%;
  float: left;
}

.sidebar {
  width: 28%;
  float: right;
  margin-left: 2%;
}

.leftside {
  width: 49%;
  float: left;
  margin-right: 1%;
}

.rightside {
  width: 49%;
  float: right;
  margin-left: 1%;
}

.container {
  width: 100% !important;
}

.inner-container {
  width: 90% !important;
  margin-left: 5%;
  position: center;
}

.billboard {
  padding: 1% !important;
  padding-top: 2% !important;
  margin-top: 2%;
}

.box-area {
  color: black;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 5%;
  background-color: white;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.base {
  color: black;
  margin-top: 2%;
  padding: 0%;
}

.sticky {
  width: 100%;
  vertical-align: middle;
  position: fixed;
  top: 0;
}

.center {
  text-align: center;
}

.third-width {
  box-sizing: border-box;
  width: 25%;
}

.edit-info {
  width: 50%;
}

.button {
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  border-width: 0px;
  color: black;
  padding: 1%;
  margin-top: 5%;
  text-align: center;
  display: inline-block;
  transition-duration: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.navbar-toggler{
  background-color: black;
  color: white;
  border-color: white;
  border-width: 2px;
  text-color: white;
}

.button:hover {
  background-color: black;
  color: white;
}

.form-style {
  margin: auto;
  margin-top: 1%;
}

input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px;
  width: 100%;
}

label {
  margin-top: 0%;
}

table {
  width: 100%;
}


h3 {
  margin-top: 10px !important;
  font-family: Sans-serif;
}

h4 {
  font-family: Sans-serif;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

ul {
  padding-left: 5%;
  padding-right: 5%;
}

ol {
  display: inline-block;
}

li {
  text-align: left;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  border-radius: 10px;
}

.info {
  padding: 20px;
  background-color: #007bff; /* blue */
  color: white;
  margin-bottom: 15px;
  border-radius: 10px;
}

.info-link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.nav-link {
  color: black;

}

.subreddits {
  width: 50&;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: black;
  background: #ffc10700;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
  background-image: linear-gradient(#ffc107, orange);
}

.steps {
  width: 50&;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  background: green;
  border-style: solid;
  border-color: green;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

body {
  text-align: center;
  margin-top: 2% !important;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: url("white-hexagons.jpg");
  background-size: cover;
}

html {
}