SMS_ALERT_SERVICE_SECRET_KEY=dummy_value

MONGO_URL=dummy_value
MONGO_DB_NAME=dummy_value

TWILIO_AUTH_TOKEN=dummy_value
TWILIO_ACCOUNT_SID=dummy_value
TWILIO_MESSAGING_SERVICE_SID=dummy_value

REDDIT_USER_AGENT=dummy_value
REDDIT_USERNAME=dummy_value
REDDIT_PASSWORD=dummy_value
REDDIT_CLIENT_ID=dummy_value
REDDIT_CLIENT_SECRET=dummy_value

PAYPAL_CLIENT_ID=dummy_value
PAYPAL_CLIENT_SECRET=dummy_value

