{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}

{% if message  %}
    <p class="message">{{ message }}</p>
{% endif %}
    <!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="style.css">
            <script src="scripts.js"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Ensures optimal rendering on mobile devices. -->
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <!-- Optimal Internet Explorer compatibility -->
        </head>

<div class="message">
    <h3>What is the SMS Alert Service?</h3>
    <br/>
    <p>We're the "in stock notification" provider for the following buy/sell/trade subreddits:</p>
    <p><strong>r/GunAccessoriesForSale</strong></p>
    <p>This service is for users who may be too busy to constantly check Reddit, are after a rare or uncommon item, or
    just need an item fast! To use the service, simply:</p>
    <ul>
        <li>Create an <strong>Account</strong></li>
        <li>Buy an <strong>SMS Package</strong></li>
        <li>Enter your <strong>Keywords</strong></li>
    </ul>
    <p>The next time a post contains one of your keywords, we'll send you a text to let you know it's available!</p>
    <p style="font-size: 80%;"><i><strong>Disclaimer:</strong>The SMS Alert Service reserves the right to
        blacklist members who are found to be abusing the service without refund.
        Anyone caught using our service for scalping, flipping, hoarding, etc. will have their account terminated and number blacklisted.
        Your account name must match your active Reddit account; burner accounts will be removed.
        Additionally, a ban from a subreddit may result in your account being terminated here as well. </i></p>
</div>
{% endblock %}