<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}SMS Alert Service{% endblock %}

{% block content %}
<html>
<head>
    <link href="static/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<div class="container">
    <div class="box-area billboard">
        <h3>Account Recovery<br/><i class="fa fa-envelope fa-2x"></i></h3>
    </div>
    <div class="box-area">
        <h4>Account Verification</h4>
        <p>We need to send you a Verification Code to confirm your account.</p>
        <form action="/account-recovery/send-otp" class="mini-form" method="post">
            {% if message %}
            <p class="alert">{{ message }}</p>
            {% endif %}
            <div>
                <label for="PhoneNumber">Phone Number:</label>
                <input class="center"
                       id="PhoneNumber"
                       name="PhoneNumber"
                       pattern="[0-9]{10}"
                       placeholder="No spaces or dashes"
                       required="required"
                       type="tel">
                <button class="button btn-success" type="submit">Send Code</button>
            </div>
        </form>
    </div>
</div>
</html>
{% endblock %}
