<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}SMS Alert Service{% endblock %}

{% block content %}
    <html>
        <head>
            <link rel="stylesheet" href="static/style.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>

<div class="box-area">
    <h3>Contact and Support<br/><br/><i class="fa fa-envelope fa-2x"></i></h3>
    <br/>
    <p><strong>The SMS Alert Service wants to hear from you!</strong></p>
    <p>Users are strongly encouraged to reach out for any reason. We're here to <strong>earn</strong> your business,
        not just take your hard earned cash. If you run into a problem on the site, drop us an email and we'll make it right.<br/><br/>
        Your questions, feedback, criticisms, and opinions are vital to the long term growth of this project.
        So please, tell us what we're doing right, wrong, and everything in between.
        Found a bug? Want us to add support for another site or subreddit? Let us know at the email below.
        <br/><br/>
        <strong>support@smsalertservice.com</strong></p>
</div>
{% endblock %}