<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Edit Info{% endblock %}

{% block content %}

    <html>
        <head>
            <link rel="stylesheet" href="static/style.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>

    <body>
        <div class="box-area">
            <h3>Edit Account Details<br/><br/><i class="fa fa-envelope fa-2x"></i></h3>
            <br/>
            <div class="edit-info center">
                <form action="/update-username" method="POST" >
                    <label for="NewUsername">Update Username</label>
                    <small id="newUsernameHelp" class="form-text text-muted">Current Username: {{ username }}</small>
                    <input name="newusername" class="form-control input" id="NewUsername" aria-describedby="usernameHelp"
                           placeholder="New Username">
                    <button type="submit" class="button">Submit</button>
                </form>
                <br/>
                <form action="/update-phone-number" method="POST">
                    <label for="NewNumber">Update Phone Number</label>
                    <small id="newNumberHelp" class="form-text text-muted">Current Phone Number: {{ current_phone }}</small>
                    <input name="newnumber" class="form-control input" id="NewNumber" aria-describedby="phoneHelp"
                           placeholder="New Number" type="tel" pattern="[0-9]{10}">
                    <button type="submit" class="button">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
{% endblock %}