<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}SMS Alert Service{% endblock %}
{% block content %}
<html>
<head>
    <link href="static/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="https://www.w3schools.com/lib/w3-colors-win.css" rel="stylesheet">
    <meta charset="utf-8">
</head>
<div class="container">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Warning: </strong>This service gives you an unfair advantage over other buyers. Using it for profit is
        discouraged.
    </div>
    <div class="flex-container">
        <div class="flex-item">
            <div class="box-area slim sponsor">
                <p><strong>Sponsor 1</strong></p>
                <p><a href="https://www.example.com">example.com</a></p>
                <p>Short Description</p>
            </div>
        </div>
        <div class="flex-item">
            <div class="box-area slim sponsor">
                <p><strong>Sponsor 2</strong></p>
                <p><a href="https://www.example.com">example.com</a></p>
                <p>Short Description</p>
            </div>
        </div>
        <div class="flex-item">
            <div class="box-area slim sponsor">
                <p><strong>Sponsor 3</strong></p>
                <p><a href="https://www.example.com">example.com</a></p>
                <p>Short Description</p>
            </div>
        </div>
    </div>
    <div class="box-area billboard">
        <h3>Welcome to the SMS Alert Service</h3>
        <h3><i class="fa fa-envelope fa-2x"></i></h3></div>

    <div class="main">
        <div class="box-area">
            <h5><strong>What is the SMS Alert Service?</strong></h5>
            <br/>
            <p>The SMS Alert Service scans online marketplaces, and alerts you (via SMS) the instant an item you want is
                posted for sale.<br/><br/>Check the <strong>Supported Markets</strong> tab to the right to see which
                ones we
                cover.</p>
        </div>
        <div class="box-area">
            <h5><strong>How do I use it?</strong></h5>
            <br/>
            <p>New accounts are given 5 alerts to try the service for free. Once you've <a class="link" href="/signup">signed
                up</a>, simply add keywords on your <a class="link" href="/profile">profile</a> page to
                begin receiving alerts.
                <br/><br/>
                If you love the service, you can purchase more alerts on your
                <a class="link" href="/profile">profile</a> page, or shop with our <strong>Sponsors</strong> to
                get <strong>Promo Codes!</strong>
                <br/><br/>
                If you're hunting a specific item, the SMS Alert Service is the weapon of choice.</p>
        </div>
        <div class="box-area">
            <h5><strong>Tips</strong></h5>
            <br/>
            <p>Computers can only do <i>exactly</i> what you tell them to do, and do not account for human logic on
                their own. You are guessing which words or phrases
                a seller might use in their post.<br/><br/>Here's some tips and tricks to get the most
                out of the service.</p>
            <div class="mini-container">
                <ul>
                    <li>Keywords are not case-sensitive.</li>
                    <li>There is no limit on how many keywords you can use.</li>
                    <li>The service automatically accounts for the plural form of your keywords.</li>
                    <li>You'll receive a maximum of one SMS Alert per post, regardless of how many of your keywords we
                        found in that post - so use as many as you need to!
                    </li>
                    <li>Avoid very broad terms like <strong>"magazine"</strong> so you don't waste alerts on things
                        you don't want.
                    </li>
                    <li>If you used <strong>"Glock magazine"</strong> as your <i>only</i> keyword, you wouldn't
                        get notified if the seller's post says <strong>"Glock mag"</strong>
                    </li>
                    <li>The best strategy is to add <i>a series of</i> keywords for the same item. For example:
                        <strong>"Glock mag", "Glock magazine", "G19 mag", "G19 magazine",</strong> and so on.
                        (Press Enter after each phrase in the quotations)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="box-area">
            <p><strong>Menu</strong></p>
            {% if username %}
            <form action="/profile" class="form-group" method="get">
                <button class="btn btn-primary mini-container" type="submit">Profile</button>
            </form>
            <form action="/support" method="get">
                <button class="btn btn-primary mini-container" type="submit">Support</button>
            </form>
            {% else %}
            <form action="/login" class="form-group" method="get">
                <button class="btn btn-primary mini-container" type="submit">Login</button>
            </form>
            <form action="/signup" method="get">
                <button class="btn btn-primary mini-container" type="submit">Sign Up</button>
            </form>
            {% endif %}
        </div>
        <div class="box-area word-wrap">
            <p><strong>Supported Markets</strong></p>
            <p><a href="https://www.reddit.com/r/GunAccessoriesForSale/">r/GunAccessoriesForSale</a></p>
        </div>
    </div>
</div>
</html>
{% endblock %}