<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}SMS Alert Service{% endblock %}

{% block content %}
<html>
<head>
    <link href="static/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="utf-8">
</head>
<body>
<div class="container">
    <div class="box-area billboard">
        <h3>Welcome to the SMS Alert Service<br/><br/><i class="fa fa-envelope fa-2x"></i></h3>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Warning: </strong>The SMS Alert Service exists to make a positive contribution to our trading
            communities.
            Anyone found abusing this service for scalping, profiteering, etc. will have their account terminated
            without warning.
            Additionally, a ban from a subreddit may result in the termination of your account here.
            <i>Terminated accounts will not be refunded.</i>
        </div>
    </div>
    <div class="main">
        <div class="box-area">
            <h4>What is the SMS Alert Service?</h4>
            <p>We constantly scan online marketplaces and alert our users (via SMS) when items on their wishlist become
                available. See the <strong>"Supported Markets"</strong> tab on this page to check which ones we cover.</p>
            <h4>How do I use it?</h4>
            <p>Once you've signed up, just add keywords to your profile and buy some alerts. That's it!
                When someone makes a new post in a Supported Market
                that contains one or more of those keywords, we'll text you a link to the post, so you don't miss
                out.</p>
            <ol class="steps">
                <li>Create an <strong>Account</strong></li>
                <li>Enter your <strong>Keywords</strong></li>
                <li>Buy some <strong>SMS Alerts</strong></li>
                <li><strong>Dibs!</strong></li>
            </ol>
        </div>
        <div class="box-area">
            <h4>Tips</h4>
            <p>Computers take everything you say very literally, so be sure to structure your keywords
                in a way that's not too general, but not too narrow either. Here's some tips and tricks to get the most
                out of the service.</p>
            <ul class="container">
                <li>There is no limit on how many keywords you can use.</li>
                <li>Using broad terms like "magazine" in your keywords might waste alerts on things you don't need or
                want.<br/></li>
                <li>However, if you use "Glock magazine" as your <strong>only</strong> keyword, you won't get notified if the seller's post says something like
                "Glock mag" or even "Glock magazine<strong>s</strong>."<br/></li>
                <li>The best strategy is to add <strong>multiple</strong> keywords for the same item. For example:
                "Glock mag", "Glock mags", "Glock magazine", "Glock magazines", "G19 mag", "G19 mags", "G19 magazine", and so on.</li>
                <li>You'll receive a maximum of one sms alert per post, regardless of how many of your keywords are present in that post.</li>
            </ul>
        </div>
    </div>
    <div class="sidebar">
        <div class="box-area">
            <h4>Sponsors</h4>
            <p>Get promo codes by supporting our sponsors!</p>
            <p><a href="https://www.example.com">example.com</a></p>
            <p><a href="https://www.example.com">example.com</a></p>
            <p><a href="https://www.example.com">example.com</a></p>
        </div>
    </div>
    <div class="sidebar">
        <div class="box-area">
            <h4>Supported Markets</h4>
            <p><a href="https://www.reddit.com/r/GunAccessoriesForSale/">r/GunAccessoriesForSale</a></p>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}