<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}SMS Alert Service{% endblock %}

{% block content %}
<html>
<head>
    <link href="static/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="../static/js/authenticate.js"></script>
</head>

<div class="container">
    <div class="box-area billboard">
        <h3>Welcome to the SMS Alert Service<br/><i class="fa fa-envelope fa-2x"></i></h3>
    </div>
    {% if message %}
    <p class="alert">{{ message }}</p>
    {% endif %}
    <div class="box-area">
        <h4>Log In</h4>
        <form action="" class="mini-form" method="post">
            <div>
                <label for="Username">Username:</label>
                <input class="form-control input" id="Username" name="username">
                <label for="password">Password:</label>
                <input class="form-control input" id="password" name="password" type="password">
                <button class="button btn-primary" type="submit">Log In</button>
            </div>
        </form>
        <form action="/account-recovery" class="mini-form" method="get">
            <input class="button btn-danger" id="resetPasswordButton" type="button" value="Reset Password"/>
        </form>
    </div>
</div>
</html>
{% endblock %}
