<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Profile{% endblock %}
<!-- ⌘Cmd + ⌥Option + Shift + L -->

{% block content %}
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<div class="container">
    <div class="box-area billboard">
        <h3>Welcome, {{ username }}!</h3>
        <p><i>Thank you for using the SMS Alert Service</i></p>
    </div>
    <div class="info container">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Notice: </strong>Your username here must match your username on Reddit. If you need to change it,
        <a class="info-link" href="edit-info"><u>click here.</u></a>
    </div>

    <div class="main">
        <div class="box-area" id="smart-button-container">
            <div>
                <div>
                    <p><strong>Get SMS Alerts below:</strong></p>
                    <p><a href="/about">What is this?</a></p>
                    <select id="item-options">
                        <option price="5.00" value="10 Messages">10 SMS Alerts - 5.00 USD</option>
                        <option price="10.00" value="50 Messages">50 SMS Alerts - 10.00 USD</option>
                        <option price="25.00" value="250 Messages">250 SMS Alerts - 25.00 USD</option>
                        <option price="40.00" value="500 Messages">500 SMS Alerts - 40.00 USD</option>
                    </select>
                    <select id="quantitySelect" style="visibility: hidden"></select>
                </div>
                <div id="paypal-button-container"></div>
            </div>
            <script data-sdk-integration-source="button-factory"
                    src="https://www.paypal.com/sdk/js?client-id=AWAg3kGZplLsUzGcJNUYVmrVCNxfLkb_KHgPiU_Ob9oD-EUCh0xMS8dlyw0d0VjXmhMg-HN_0xmWZziC&enable-funding=venmo&currency=USD"></script>
            <script>
                  function initPayPalButton() {
                    var shipping = 0;
                    var itemOptions = document.querySelector("#smart-button-container #item-options");
                var quantity = parseInt();
                var quantitySelect = document.querySelector("#smart-button-container #quantitySelect");
                if (!isNaN(quantity)) {
                  quantitySelect.style.visibility = "visible";
                }
                var orderDescription = 'Choose your SMS package';
                if(orderDescription === '') {
                  orderDescription = 'Item';
                }
                paypal.Buttons({
                  style: {
                    shape: 'pill',
                    color: 'gold',
                    layout: 'horizontal',
                    label: 'paypal',

                  },
                  createOrder: function(data, actions) {
                    var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
                    var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
                    var tax = (0 === 0 || false) ? 0 : (selectedItemPrice * (parseFloat(0)/100));
                    if(quantitySelect.options.length > 0) {
                      quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
                    } else {
                      quantity = 1;
                    }

                    tax *= quantity;
                    tax = Math.round(tax * 100) / 100;
                    var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
                    priceTotal = Math.round(priceTotal * 100) / 100;
                    var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;

                    return actions.order.create({
                      purchase_units: [{
                        description: orderDescription,
                        amount: {
                          currency_code: 'USD',
                          value: priceTotal,
                          breakdown: {
                            item_total: {
                              currency_code: 'USD',
                              value: itemTotalValue,
                            },
                            shipping: {
                              currency_code: 'USD',
                              value: shipping,
                            },
                            tax_total: {
                              currency_code: 'USD',
                              value: tax,
                            }
                          }
                        },
                        items: [{
                          name: selectedItemDescription,
                          unit_amount: {
                            currency_code: 'USD',
                            value: selectedItemPrice,
                          },
                          quantity: quantity
                        }]
                      }]
                    });
                  },
                  onApprove: function(data, actions) {
                    return actions.order.capture().then(function(orderData) {

                      // Full available details
                      console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                      // Show a success message within this page, e.g.
                      const element = document.getElementById('paypal-button-container');
                      element.innerHTML = '';
                      element.innerHTML = '<h3>Thank you for your payment!</h3>';
                      let unitSelection = orderData.purchase_units[0].items[0].name;
                      let units = unitSelection.replace(" Messages", "");
                      let amount = orderData.purchase_units[0].amount.value;
                      fetch('/process-sale?user={{ username }}' + '&status=' + orderData.status + "&units=" + units + '&amount=' + amount).then(resp => resp.json()).then(response => console.log(response))

                      // Or go to another URL:  actions.redirect('thank_you.html');

                    });
                  },
                  onError: function(err) {
                    console.log(err);
                  },
                }).render('#paypal-button-container');
              }
              initPayPalButton();











            </script>
        </div>
    </div>
    <div class="sidebar">
        <div class="box-area">
            <p><strong>SMS Alerts</strong></p>
            <h3>{{ message_count }}</h3>
        </div>
    </div>
    <div class="sidebar">
        <div class="box-area">
            <p><strong>Your Keywords:</strong></p>
            <table id="keywords"></table>
            <script>
            let keywordvar = "";
            const fruits = ["apple", "orange", "cherry"];
            keywords = {{ keywords|tojson }};
            console.log(keywords);
            keywords.forEach(myFunction);

            document.getElementById("keywords").innerHTML = keywordvar;

            function myFunction(keyword, index) {
              keywordvar += "<tr><td>" + keyword + "</td></tr>";
            }






            </script>
        </div>
    </div>
    <div class="main">
        <div class="box-area">
            <form action="/add-keyword" method="POST">
                <div class="form-group">
                    <label for="NewKeyword"><strong>Add Keywords:</strong></label>
                    <input aria-describedby="keywordHelp" class="form-control input" id="NewKeyword" name="newkeyword"
                           placeholder="" required="required" type="text">
                    <small class="form-text text-muted" id="newKeywordHelp">When a new post contains a keyword, we'll
                        send
                        you
                        an alert!</small><br/>
                    <button class="btn btn-primary container" type="submit">Add Keyword</button>
                </div>
            </form>
            <div>
                <a href="/delete-all-keywords">
                    <button class="btn btn-danger container">Delete All Keywords</button>
                </a>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="box-area">
            <form action="/promo" method="POST">
                <div class="form-group">
                    <label for="promo"><strong>Promo Code</strong></label>
                    <input aria-describedby="keywordHelp" class="form-control input" id="promo" name="newkeyword"
                           placeholder="" required="required" type="text">
                    <button class="button btn btn-primary container" type="submit">Redeem</button>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>
{% endblock %}