<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Profile{% endblock %}
<!-- ⌘Cmd + ⌥Option + Shift + L -->

{% block content %}
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<div class="container">
    <div class="box-area billboard">
        <h3>Welcome, {{ username }}!</h3>
        <p><i>Thank you for using the SMS Alert Service</i></p>
        <h3><i class="fa fa-envelope fa-2x"></i></h3></div>
    <div class="info">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Notice: </strong>Your username here should match your username on Reddit. If you need to change it,
        <a class="info-link" href="edit-info"><u>click here</u>.</a>
    </div>

    <div class="main">
        <div class="box-area">
            <form action="/add-keyword" method="POST">
                <div class="form-group">
                    <h5><label for="NewKeyword">Add Keywords:</label></h5>
                    <input class="form-control input" id="NewKeyword" name="newkeyword"
                           placeholder="" required="required" type="text">
                    <small class="form-text text-muted" id="newKeywordHelp">When a new post contains a keyword, we'll
                        send you an alert!</small><br/>
                    <button class="btn btn-primary mini-container" type="submit">Add Keyword</button>
                </div>
            </form>
            <div>
                <a href="/delete-all-keywords">
                    <button class="btn btn-danger mini-container">Delete All Keywords</button>
                </a>
             </div>
            <br/>
            <a href="/instructions" class="link">Click here to read tutorial</a>
        </div>
        <div class="box-area" id="smart-button-container">
            <div>
                <div style="text-align: center;">
                    <div style="margin-bottom: 1.25rem;">
                        <h5>Buy SMS Alerts here:</h5><br/>
                        <select id="item-options">
                            <option>Select Quantity</option>
                            <option price="5" value="10 Alerts">10 Alerts - 5.00 USD (.50 each)</option>
                            <option price="10" value="50 Alerts">50 Alerts - 10.00 USD (.20 each)</option>
                            <option price="15" value="25 Alerts">100 Alerts - 15.00 USD (.15 each)</option>
                        </select>
                        <select id="quantitySelect" style="visibility: hidden"></select>
                    </div>
                    <div id="paypal-button-container"></div>
                </div>
            </div>
            <script data-sdk-integration-source="button-factory"
                    src="https://www.paypal.com/sdk/js?client-id=ATp90AxmHSm8HQwm8pdEyibtZVhsjC0eQnONlaZB2Z_ovQw6gKrvVuL6_gkuvfqzpu6TmHM0VQjXTBpp&enable-funding=venmo&currency=USD"></script>
            <script>
      function initPayPalButton() {
        var shipping = 0;
        var itemOptions = document.querySelector("#smart-button-container #item-options");
    var quantity = parseInt();
    var quantitySelect = document.querySelector("#smart-button-container #quantitySelect");
    if (!isNaN(quantity)) {
      quantitySelect.style.visibility = "visible";
    }
    var orderDescription = 'SMS Alerts';
    if(orderDescription === '') {
      orderDescription = 'Item';
    }
    paypal.Buttons({
      style: {
        shape: 'rect',
        color: 'gold',
        layout: 'vertical',
        label: 'paypal',

      },
      createOrder: function(data, actions) {
        var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
        var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
        var tax = (7.25 === 0 || false) ? 0 : (selectedItemPrice * (parseFloat(7.25)/100));
        if(quantitySelect.options.length > 0) {
          quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
        } else {
          quantity = 1;
        }

        tax *= quantity;
        tax = Math.round(tax * 100) / 100;
        var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
        priceTotal = Math.round(priceTotal * 100) / 100;
        var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;

        return actions.order.create({
          purchase_units: [{
            description: orderDescription,
            amount: {
              currency_code: 'USD',
              value: priceTotal,
              breakdown: {
                item_total: {
                  currency_code: 'USD',
                  value: itemTotalValue,
                },
                shipping: {
                  currency_code: 'USD',
                  value: shipping,
                },
                tax_total: {
                  currency_code: 'USD',
                  value: tax,
                }
              }
            },
            items: [{
              name: selectedItemDescription,
              unit_amount: {
                currency_code: 'USD',
                value: selectedItemPrice,
              },
              quantity: quantity
            }]
          }]
        });
      },
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {

          // Full available details
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

          // Show a success message within this page, e.g.
           const element = document.getElementById('paypal-button-container');
           element.innerHTML = '';
           element.innerHTML = '<h3>Thank you for your payment!</h3>';
           let unitSelection = orderData.purchase_units[0].items[0].name;
           let units = unitSelection.replace(" Alerts", "");
           let amount = orderData.purchase_units[0].amount.value;
           fetch('/process-sale?user={{ username }}' + '&status=' + orderData.status + "&units=" + units + '&amount=' + amount).then(resp => resp.json()).then(response => console.log(response))

          // Or go to another URL:  actions.redirect('thank_you.html');

        });
      },
      onError: function(err) {
        console.log(err);
      },
    }).render('#paypal-button-container');
  }
  initPayPalButton();

            </script>
        </div>
    </div>

    <div class="sidebar">
        <div class="box-area">
            <p><strong>SMS Alerts:</strong></p>
            <h3>{{ message_count }}</h3>
        </div>
        <div class="box-area">
            <p><strong>Active Keywords:</strong></p>
            <table id="keywords"></table>
            <script>
            let table = "";
            keywords = {{ keywords|tojson }};
            keywords.forEach(addKeywordToTable);
            document.getElementById("keywords").innerHTML = table;

            function addKeywordToTable(keyword) {
              table += "<tr><td style='display: inline-block; text-align:justify;'>" + keyword + "</td><td style='text-align: right;'><form action='/delete-keyword?keyword=" + keyword + "' method='post'><button class='btn btn-danger' style='padding: 1px 10% 1px 10%;'><i class='fa fa-trash'></i></button></form></td></tr>";
            }

            </script>

        </div>
        <div class="box-area">
            <form action="/promo-code" method="POST">
                <div class="form-group">
                    <label for="promo-code"><strong>Promo Code:</strong></label>
                    <input aria-describedby="keywordHelp" class="form-control input" id="promo-code"
                           name="promo-code"
                           placeholder="" required="required" type="text">
                    <button class="button btn btn-primary mini-container" type="submit">Redeem</button>
                </div>
            </form>
        </div>
        <div class="box-area">
            <form action="/edit-info">
                <label><strong>Account Details</strong></label>
                <button class="button btn btn-primary" type="submit">Update Info</button>
            </form>
        </div>
    </div>

</div>

</html>
{% endblock %}