{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}

{% if message  %}
    <p class="message"><strong>Hello, {{ username }}!</strong><br/>{{ message }}</p>
{% endif %}
    <!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="style.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Ensures optimal rendering on mobile devices. -->
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <!-- Optimal Internet Explorer compatibility -->
        </head>

<div id="smart-button-container" class="message">
      <div style="text-align: center; width: 100%;">
        <div style="margin-bottom: 1.25rem;">
            <p>Buy SMS Alerts below:</p>
          <select id="item-options">
              <option value="10 Messages" price="5.00">10 SMS Alerts - 5.00 USD</option>
              <option value="50 Messages" price="10.00">50 SMS Alerts - 10.00 USD</option>
              <option value="250 Messages" price="25.00">250 SMS Alerts - 25.00 USD</option>
              <option value="500 Messages" price="40.00">500 SMS Alerts - 40.00 USD</option>
          </select>
          <select style="visibility: hidden" id="quantitySelect"></select>
        </div>
      <div id="paypal-button-container"></div>
      </div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=AWAg3kGZplLsUzGcJNUYVmrVCNxfLkb_KHgPiU_Ob9oD-EUCh0xMS8dlyw0d0VjXmhMg-HN_0xmWZziC&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
      function initPayPalButton() {
        var shipping = 0;
        var itemOptions = document.querySelector("#smart-button-container #item-options");
    var quantity = parseInt();
    var quantitySelect = document.querySelector("#smart-button-container #quantitySelect");
    if (!isNaN(quantity)) {
      quantitySelect.style.visibility = "visible";
    }
    var orderDescription = 'Choose your SMS package';
    if(orderDescription === '') {
      orderDescription = 'Item';
    }
    paypal.Buttons({
      style: {
        shape: 'pill',
        color: 'gold',
        layout: 'horizontal',
        label: 'paypal',

      },
      createOrder: function(data, actions) {
        var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
        var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
        var tax = (0 === 0 || false) ? 0 : (selectedItemPrice * (parseFloat(0)/100));
        if(quantitySelect.options.length > 0) {
          quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
        } else {
          quantity = 1;
        }

        tax *= quantity;
        tax = Math.round(tax * 100) / 100;
        var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
        priceTotal = Math.round(priceTotal * 100) / 100;
        var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;

        return actions.order.create({
          purchase_units: [{
            description: orderDescription,
            amount: {
              currency_code: 'USD',
              value: priceTotal,
              breakdown: {
                item_total: {
                  currency_code: 'USD',
                  value: itemTotalValue,
                },
                shipping: {
                  currency_code: 'USD',
                  value: shipping,
                },
                tax_total: {
                  currency_code: 'USD',
                  value: tax,
                }
              }
            },
            items: [{
              name: selectedItemDescription,
              unit_amount: {
                currency_code: 'USD',
                value: selectedItemPrice,
              },
              quantity: quantity
            }]
          }]
        });
      },
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {

          // Full available details
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

          // Show a success message within this page, e.g.
          const element = document.getElementById('paypal-button-container');
          element.innerHTML = '';
          element.innerHTML = '<h3>Thank you for your payment!</h3>';
          let unitSelection = orderData.purchase_units[0].items[0].name;
          let units = unitSelection.replace(" Messages", "");
          let amount = orderData.purchase_units[0].amount.value;
          fetch('/process-sale?user={{ username }}' + '&status=' + orderData.status + "&units=" + units + '&amount=' + amount).then(resp => resp.json()).then(response => console.log(response))

          // Or go to another URL:  actions.redirect('thank_you.html');

        });
      },
      onError: function(err) {
        console.log(err);
      },
    }).render('#paypal-button-container');
  }
  initPayPalButton();
    </script>
<!-- (Subscription flow)   {% if not_paid %}-->
<!--        <body class="center">-->
<!--            <p class="message">Subscribe to begin receiving alerts</p>-->
<!--        <div class="center third-width">-->

<!--    <script>-->
<!--                  paypal.Buttons({-->
<!--                    createSubscription: function(data, actions) {-->
<!--                      return actions.subscription.create({-->
<!--                        'plan_id': '{{ plan_id }}' // Creates the subscription-->
<!--                        });-->
<!--                    },-->
<!--                    onApprove: function(data, actions) {-->
<!--                        fetch('/record-subscription-id?username={{ username }}&id=' + data.subscriptionID).then(resp => resp.json()).then(response => console.log(response))-->
<!--                        alert('You have successfully created subscription ' + data.subscriptionID); // Optional message given to subscriber-->
<!--                        console.log(data)-->
<!--                    }-->
<!--                  }).render('#paypal-button-container'); // Renders the PayPal button-->

<!--            </script>-->
<!--        </div>-->
<!--        </body>-->
<!--    {% endif %}-->
    </html>
<div class="message">
    <p>You have {{message_count}} SMS Alerts remaining</p>
    <form action="/add-keyword" method="POST">
        <div class="form-group  center ">
            <label for="NewKeyword">Add a keyword below:</label>
            <input name="newkeyword" class="form-control input" id="NewKeyword" aria-describedby="keywordHelp"
                   placeholder="" type="text" required="required">
            <small id="newKeywordHelp" class="form-text text-muted">When a new post contains a keyword, we'll send you
                an alert!</small><br/>
        <button type="submit" class="btn btn-primary container">Add Keyword</button>
        </div>
    </form>
    <div class="center">
        <a href="/delete-all-keywords">
            <button class="btn btn-danger container">Delete All Keywords</button>
        </a>
    </div>
</div>
<div class="message">
        <div class="center">
        <p>Your Keywords:</p>
        <table class="center" id="keywords"></table>
        <script>
        let keywordvar = "";
        const fruits = ["apple", "orange", "cherry"];
        keywords = {{ keywords|tojson }};
        console.log(keywords);
        keywords.forEach(myFunction);

        document.getElementById("keywords").innerHTML = keywordvar;

        function myFunction(keyword, index) {
          keywordvar += "<tr><td>" + keyword + "</td><?tr>";
        }
        </script>
    </div>

</div>
{% endblock %}